<div class = <%= "#{@class_name}"  %>>
    <h1><%= "#{@boite_title}"  %></h1>
    <div id= <%= "#{@class_name}_image" %>>
        <img src= <%= "#{@src}" %>,  alt=<%= "#{@alt}" %> />
    </div>
</div>