<%= form_for(@histoire) do |f| %>
  <% if @histoire.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@histoire.errors.count, "error") %> prohibited this histoire from being saved:</h2>

      <ul>
      <% @histoire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :sphere_id %><br />
    <%= f.text_field :sphere_id %>
  </div>
  <div class="field">
    <%= f.label :histoires_personnages_id %><br />
    <%= f.text_field :histoires_personnages_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
