<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @histoire.title %>
</p>

<p>
  <b>Description:</b>
  <%= @histoire.description %>
</p>

<p>
  <b>Author:</b>
  <%= @histoire.author %>
</p>

<p>
  <b>Sphere:</b>
  <%= @histoire.sphere_id %>
</p>

<p>
  <b>Personnages:</b>
  <% if @histoire.personnages.count > 0 %>
      <ul>
        <% @histoire.personnages.each do |personnage| %>
            <li><%= personnage.name %></li>
        <% end %>
      </ul>
  <% end %>
</p>


<%= link_to 'Edit', edit_histoire_path(@histoire) %> |
<%= link_to 'Back', histoires_path %>
