<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <%= stylesheet_link_tag "cland.css" %>
      
      <%= javascript_include_tag :defaults %>
      <%= csrf_meta_tag %>
      <title>C Land</title>
    </head>
    <body>

      <div id="header_lite">
        <div id="header_inner_lite" class="fluid">
          <div id="logo">
            <a href="javascript:parent.location.href = '/';"><img src="/images/rails.png" alt="Ce site est réalisé en Ruby on Rails 3.0!" /></a>
          </div>
          <div id="menu">
            <ul>
              <li><%= link_to "Accueil", accueil_path %></li>
              <li><%= link_to "La Boite à news", blog_path %></li>
              <li><%= link_to "La Boite à sphères", boite_a_spheres_path %></li>
              <% if session[:user_id] %>
                  <li><%= link_to "Administration des news", billets_path %></li>
                  <li><%= link_to "Administration des utilisateurs", users_path %></li>
                  <li><%= link_to 'Logout', logout_path, :method => :delete	%></li>
              <% else %>
                <li><%= link_to "Login", login_path, :method => :get %></li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
      <div id="main_content">
        <%= yield %>
      </div>

     <div id="footer">&copy;Berlimioz</div>
    </body>
</html>
